.layout-footer {   
    background:#191919;  
    padding: 1em 2em;
    margin-top:auto;
    text-align: right;
    color: white;
    img {
        vertical-align: middle;
    }
    .footer-text {
        vertical-align: middle;
    }
}