.boardstatus-badge {
	border-radius: 2px;
	padding: 0.25em 0.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.3px;
}

.boardstatus-badge.status-created {
	background: #c8e6c9;
	color: #256029;
}

.boardstatus-badge.status-payout {
	background: #ffcdd2;
	color: #c63737;
}

.boardstatus-badge.status-release {
	background: #daec70;
	color: #b80606;
}

.boardstatus-badge.status-claimed {
	background: #4788e9;
	color: #141313;
}
